@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
  }
 
  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
  }
}
 
body {
  @apply bg-background-light dark:bg-background-dark;
}

.date-input::-webkit-calendar-picker-indicator {
  filter: invert(1);
  opacity: 0.9;
}
